<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Рецепт добавить{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Дом</a></li>
                <li><a href="{% url 'login' %}">Логин</a></li>
                <li>
                    <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Уйти</button>
                    </form>
                </li>
                <li><a href="{% url 'signup' %}">Зарегиться</a></li>
                <li><a href="{% url 'profile' %}">Профиль</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
